<html>
    <head>
        <title>Anugrah Iman</title>
    </head>
    <body>
        <center>
        <h1>Anugrah Iman To-Do</h1>
        <form method="POST">
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
            {% csrf_token %}
        </form>
        <table id="id_list_table">
            {% for item in items %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
            {% endfor %}
        </table>    
    </body>
</center>
</html>